Source: ros-kinetic-binpicking-utils
Section: misc
Priority: extra
Maintainer: Frantisek Durovsky <durovsky987@gmail.com>
Build-Depends: debhelper (>= 9.0.0), ros-kinetic-catkin
Homepage: 
Standards-Version: 3.9.2

Package: ros-kinetic-binpicking-utils
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-kinetic-bin-pose-emulator, ros-kinetic-bin-pose-msgs
Description: Binpicking utils metapackage
